/*
 * Markov Chain styel sheet
 */

/* some colors */
$orange: #e89f49;
$lime: #b6ce4e;
$turquise: #5dd1a4;
$blue: #3fc0c9;
$lightBlue: #C1DFE1;
$lavender: #8885ed;
$rose: #c673d8;
$red: #e25454;

$darkGrey: #333;
$grey: #555;
$lighterGrey: #666;
$lightGrey: #ccc;

$backgroundColor: #eee;

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

body {
	background-color: #333;
	font-size: 16px;
	font-family: 'Dosis';
	font-weight: 400;
	color: #E8E8E8;
}

#container {
	margin-left: 1em;
	padding-bottom: 1em;
}

h1, h2 {
	font-size: 2em;
	margin-bottom: 0.2em;
	color: #E8E8E8;
	text-transform: uppercase;
	font-weight: 200;
}


p {
	color: #E8E8E8;
	margin-top: 1em;
}

.button {
	border-radius: 0.3em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	background-color: $blue * 0.5;
	margin-right: 0.5em;
}

.interactive {
	cursor: pointer;
}

.active {
	background-color: $blue;
}

// === input complexity stuff ===
$height: 50px;

#selfIformation {
	margin-top: 1em;
	padding-bottom: 1em;

	font-family: 'Dosis';
	font-weight: 200;
	.labelBox {
		.label {
			transform: rotate(90deg);
			transform-origin: left top 0;
			display: inline-block;
			margin: 0.5em;
			margin-left: 1.6em;
		}

		float: left;
		background-color: $grey;
		border-radius: 0.3em;
		height: 7em;
		width: 30px;
	}
	.data {
		margin-left: 35px;
	}

	.element {
		width: 600px;
		height: $height;
		font-weight: 400;
		padding-top: 0.1em;
		border: solid 1px $lime;
		border-radius: 0.3em;
		margin-bottom: 3px;
		margin-right: 3px;
		overflow: hidden;
		white-space: nowrap;
		position: relative;
		// background-color: $grey;
		
		.label {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 300px;
			padding: 0.5em;
			padding-top: 0.2em;
			background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
			z-index: 1;
		}

		.background {
			z-index: -1;
		}

		.highValue {
			position: absolute;
			right: 0px;
			top: 0px;
			padding: 0.5em;
			padding-top: 0.2em;
			z-index: 1;
			background-color: rgba(0, 0, 0, 0.5);
		}
	}

	.bits-wrapper {
		float: right;
	}

	.bit {
		width: 3px;
		height: $height - 2;
		display: inline-block;
		margin-right: 2px;
		transform-origin: bottom left;
	}
	
	
	#history {
		float: left;

		.group {
			&:nth-child(1) {
				.element {
					border: solid 1px $lavender;
				}
				.bit {
					background-color: $lavender;
				}
			}

			&:nth-child(2) {
				.element {
					border: solid 1px $blue;
				}
				.bit {
					background-color: $blue;
				}
			}
			&:nth-child(3) {
				.element {
					border: solid 1px $lavender;
				}
				.bit {
					background-color: $lavender;
				}
			}
		}
	}

	.divider {
		height: 270px;
		// width: 10px;
		border-left: dashed 2px $grey;
		margin-left: 2px;
		float: left;
	}

	#live {
		.element {
			width: 200px;
			overflow: visible;
		}
		margin-left: 613px;

		.group {
			&:nth-child(1) {
				.element {
					background-color: $lime;
					border: solid 1px $lime;
				}
			}			

			&:nth-child(2) {
				.element {
					background-color: $orange;
					border: solid 1px $orange;
				}
			}
			&:nth-child(3) {
				.element {
					background-color: $lavender;
					border: solid 1px $lavender;
				}
			}
		}
		.label {
			background: none;
		}
	}

}

#pReturn {
	#pReturnWrapper, #markovInformation {
		// width: 600px;
		// height: 50px;
		// border: 1px solid $orange;
		// padding: 2px;
		// margin: 2px;
		overflow: hidden;

		.bar {
			width: 2px;
			height: $height - 2;
			margin: 1px;
			background-color: $lavender;
			float: left;
			transform-origin: bottom left;
		}
	}
}
