/*
 * Markov Chain styel sheet
 */
@import url("http://spacewalk.simonwallner.at/app/css/base.css");
/* some colors */
body {
  background-color: #333333; }

h1 {
  color: white;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0px;
  position: relative;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

div {
  box-sizing: border-box; }

.box {
  background-color: #4d4d4d;
  display: block;
  float: left;
  border-radius: 5px;
  height: 85px;
  margin-left: 4px;
  margin-bottom: 4px;
  padding: 2px;
  color: white;
  text-transform: uppercase;
  font-size: 14px; }

.group, .label, .optionGroup, .option, .button, .statusGroup {
  float: left; }

.label, .option, .button, .statusGroup {
  margin: 2px; }

.button, .label, .option, .indicator {
  border-radius: 3px;
  height: 36.5px;
  width: 44.2px;
  font-weight: 200;
  letter-spacing: 0.12em;
  line-height: 1.2em;
  text-align: center; }
  .button span, .label span, .option span, .indicator span {
    position: relative;
    top: 50%;
    display: block;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }

.button, .option {
  background-color: #486f72;
  cursor: pointer; }
  .button:hover, .option:hover {
    border: 1px solid white; }
  .button.active, .option.active {
    background-color: #3fc0c9; }

.label {
  background-color: #787878; }

.large {
  font-size: 1.3em; }

.button.large, .label.large {
  height: 77px;
  width: 92.4px; }
  .button.large strong, .label.large strong {
    font-size: 3.5em;
    font-weight: 300;
    display: block; }

.label.large {
  width: 92.4px; }

.label.wide {
  width: 92.4px; }

.statusGroup {
  background-color: #787878;
  border-radius: 3px; }
  .statusGroup .label {
    margin-top: 0px; }

.indicator {
  background-color: #b6ce4e;
  margin: 4px;
  margin-top: 2px;
  width: 40.2px;
  height: 32.5px; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

#selfIformation, #analog {
  margin-top: 1em;
  padding-bottom: 1em;
  font-family: 'Dosis';
  font-weight: 200; }
  #selfIformation .labelBox, #analog .labelBox {
    float: left;
    border-radius: 0.3em;
    height: 7em;
    width: 30px; }
    #selfIformation .labelBox .label, #analog .labelBox .label {
      transform: rotate(90deg);
      transform-origin: left top 0;
      display: inline-block;
      margin: 0.5em;
      margin-left: 1.6em; }
  #selfIformation .data, #analog .data {
    margin-left: 35px; }
  #selfIformation .element, #analog .element {
    width: 600px;
    height: 50px;
    font-weight: 400;
    padding-top: 0.1em;
    border: solid 1px #b6ce4e;
    border-radius: 0.3em;
    margin-bottom: 3px;
    margin-right: 3px;
    overflow: hidden;
    white-space: nowrap;
    position: relative; }
    #selfIformation .element .label, #analog .element .label {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 300px;
      padding: 0.5em;
      padding-top: 0.2em;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
      z-index: 1; }
    #selfIformation .element .background, #analog .element .background {
      z-index: -1; }
    #selfIformation .element .highValue, #analog .element .highValue {
      position: absolute;
      right: 0px;
      top: 0px;
      padding: 0.5em;
      padding-top: 0.2em;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.5); }
  #selfIformation .bits-wrapper, #analog .bits-wrapper {
    float: right; }
  #selfIformation .bit, #analog .bit {
    width: 3px;
    height: 48px;
    display: inline-block;
    margin-right: 2px;
    transform-origin: bottom left; }
  #selfIformation #history, #selfIformation #analog, #analog #history, #analog #analog {
    float: left; }
    #selfIformation #history .group:nth-child(1) .element, #selfIformation #analog .group:nth-child(1) .element, #analog #history .group:nth-child(1) .element, #analog #analog .group:nth-child(1) .element {
      border: solid 1px #8885ed; }
    #selfIformation #history .group:nth-child(1) .bit, #selfIformation #analog .group:nth-child(1) .bit, #analog #history .group:nth-child(1) .bit, #analog #analog .group:nth-child(1) .bit {
      background-color: #8885ed; }
    #selfIformation #history .group:nth-child(2) .element, #selfIformation #analog .group:nth-child(2) .element, #analog #history .group:nth-child(2) .element, #analog #analog .group:nth-child(2) .element {
      border: solid 1px #3fc0c9; }
    #selfIformation #history .group:nth-child(2) .bit, #selfIformation #analog .group:nth-child(2) .bit, #analog #history .group:nth-child(2) .bit, #analog #analog .group:nth-child(2) .bit {
      background-color: #3fc0c9; }
    #selfIformation #history .group:nth-child(3) .element, #selfIformation #analog .group:nth-child(3) .element, #analog #history .group:nth-child(3) .element, #analog #analog .group:nth-child(3) .element {
      border: solid 1px #8885ed; }
    #selfIformation #history .group:nth-child(3) .bit, #selfIformation #analog .group:nth-child(3) .bit, #analog #history .group:nth-child(3) .bit, #analog #analog .group:nth-child(3) .bit {
      background-color: #8885ed; }
  #selfIformation .divider, #analog .divider {
    height: 270px;
    margin-left: 2px;
    float: left; }
  #selfIformation #live, #analog #live {
    margin-left: 613px; }
    #selfIformation #live .element, #analog #live .element {
      width: 200px;
      overflow: visible; }
    #selfIformation #live .group:nth-child(1) .element, #analog #live .group:nth-child(1) .element {
      background-color: #b6ce4e;
      border: solid 1px #b6ce4e; }
    #selfIformation #live .group:nth-child(2) .element, #analog #live .group:nth-child(2) .element {
      background-color: #e89f49;
      border: solid 1px #e89f49; }
    #selfIformation #live .group:nth-child(3) .element, #analog #live .group:nth-child(3) .element {
      background-color: #8885ed;
      border: solid 1px #8885ed; }
    #selfIformation #live .label, #analog #live .label {
      background: none; }

.pReturn .pReturnWrapper, .pReturn #markovInformation {
  white-space: nowrap;
  padding-left: 2px; }
  .pReturn .pReturnWrapper .bar, .pReturn #markovInformation .bar {
    width: 2px;
    height: 48px;
    border-right: 2px solid #333;
    background-color: #8885ed;
    box-sizing: border-box;
    transform-origin: bottom left;
    display: inline-block; }

div.inline {
  display: inline-block; }

svg path {
  stroke-width: 3px; }
svg .outline {
  stroke-width: 1px;
  fill: none; }
svg rect.outline {
  shape-rendering: crispEdges; }
svg path.glyph {
  stroke: #3fc0c9;
  marker-end: url(#markerArrow); }
svg path.quiver {
  stroke: white;
  stroke-width: 1px;
  marker-end: url(#quiverArrow); }

svg.matrix {
  margin-right: 1px; }
  svg.matrix path {
    stroke-width: 1.5px; }
    svg.matrix path.anchor {
      stroke: #3fc0c9; }
  svg.matrix circle.outline {
    stroke-width: 0.5px; }
