/*
 * Markov Chain styel sheet
 */
/* some colors */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

body {
  background-color: #333;
  font-size: 16px;
  font-family: 'Dosis';
  font-weight: 400;
  color: #E8E8E8; }

#container {
  margin-left: 1em;
  padding-bottom: 1em; }

h1, h2 {
  font-size: 2em;
  margin-bottom: 0.2em;
  color: #E8E8E8;
  text-transform: uppercase;
  font-weight: 200; }

p {
  color: #E8E8E8;
  margin-top: 1em; }

.button {
  border-radius: 0.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  background-color: #1f6064;
  margin-right: 0.5em; }

.interactive {
  cursor: pointer; }

.active {
  background-color: #3fc0c9; }

#controllerSelect {
  border: 1px solid #cccccc;
  padding: 0.5em;
  border-radius: 0.3em;
  display: inline-block; }
  #controllerSelect span {
    margin-right: 0.5em; }
  #controllerSelect div {
    width: 2em;
    height: 2em;
    border-radius: 0.2em;
    padding: 0.3em;
    background-color: #666666;
    display: inline-block;
    margin-right: 0.5em;
    cursor: pointer; }
    #controllerSelect div:last-child {
      margin-right: 0px; }
    #controllerSelect div.active {
      cursor: default;
      background-color: #3fc0c9; }

#selfIformation, #analog {
  margin-top: 1em;
  padding-bottom: 1em;
  font-family: 'Dosis';
  font-weight: 200; }
  #selfIformation .labelBox, #analog .labelBox {
    float: left;
    background-color: #555555;
    border-radius: 0.3em;
    height: 7em;
    width: 30px; }
    #selfIformation .labelBox .label, #analog .labelBox .label {
      transform: rotate(90deg);
      transform-origin: left top 0;
      display: inline-block;
      margin: 0.5em;
      margin-left: 1.6em; }
  #selfIformation .data, #analog .data {
    margin-left: 35px; }
  #selfIformation .element, #analog .element {
    width: 600px;
    height: 50px;
    font-weight: 400;
    padding-top: 0.1em;
    border: solid 1px #b6ce4e;
    border-radius: 0.3em;
    margin-bottom: 3px;
    margin-right: 3px;
    overflow: hidden;
    white-space: nowrap;
    position: relative; }
    #selfIformation .element .label, #analog .element .label {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 300px;
      padding: 0.5em;
      padding-top: 0.2em;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
      z-index: 1; }
    #selfIformation .element .background, #analog .element .background {
      z-index: -1; }
    #selfIformation .element .highValue, #analog .element .highValue {
      position: absolute;
      right: 0px;
      top: 0px;
      padding: 0.5em;
      padding-top: 0.2em;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.5); }
  #selfIformation .bits-wrapper, #analog .bits-wrapper {
    float: right; }
  #selfIformation .bit, #analog .bit {
    width: 3px;
    height: 48px;
    display: inline-block;
    margin-right: 2px;
    transform-origin: bottom left; }
  #selfIformation #history, #selfIformation #analog, #analog #history, #analog #analog {
    float: left; }
    #selfIformation #history .group:nth-child(1) .element, #selfIformation #analog .group:nth-child(1) .element, #analog #history .group:nth-child(1) .element, #analog #analog .group:nth-child(1) .element {
      border: solid 1px #8885ed; }
    #selfIformation #history .group:nth-child(1) .bit, #selfIformation #analog .group:nth-child(1) .bit, #analog #history .group:nth-child(1) .bit, #analog #analog .group:nth-child(1) .bit {
      background-color: #8885ed; }
    #selfIformation #history .group:nth-child(2) .element, #selfIformation #analog .group:nth-child(2) .element, #analog #history .group:nth-child(2) .element, #analog #analog .group:nth-child(2) .element {
      border: solid 1px #3fc0c9; }
    #selfIformation #history .group:nth-child(2) .bit, #selfIformation #analog .group:nth-child(2) .bit, #analog #history .group:nth-child(2) .bit, #analog #analog .group:nth-child(2) .bit {
      background-color: #3fc0c9; }
    #selfIformation #history .group:nth-child(3) .element, #selfIformation #analog .group:nth-child(3) .element, #analog #history .group:nth-child(3) .element, #analog #analog .group:nth-child(3) .element {
      border: solid 1px #8885ed; }
    #selfIformation #history .group:nth-child(3) .bit, #selfIformation #analog .group:nth-child(3) .bit, #analog #history .group:nth-child(3) .bit, #analog #analog .group:nth-child(3) .bit {
      background-color: #8885ed; }
  #selfIformation .divider, #analog .divider {
    height: 270px;
    border-left: dashed 2px #555555;
    margin-left: 2px;
    float: left; }
  #selfIformation #live, #analog #live {
    margin-left: 613px; }
    #selfIformation #live .element, #analog #live .element {
      width: 200px;
      overflow: visible; }
    #selfIformation #live .group:nth-child(1) .element, #analog #live .group:nth-child(1) .element {
      background-color: #b6ce4e;
      border: solid 1px #b6ce4e; }
    #selfIformation #live .group:nth-child(2) .element, #analog #live .group:nth-child(2) .element {
      background-color: #e89f49;
      border: solid 1px #e89f49; }
    #selfIformation #live .group:nth-child(3) .element, #analog #live .group:nth-child(3) .element {
      background-color: #8885ed;
      border: solid 1px #8885ed; }
    #selfIformation #live .label, #analog #live .label {
      background: none; }

.pReturn .pReturnWrapper, .pReturn #markovInformation {
  white-space: nowrap;
  padding-left: 2px; }
  .pReturn .pReturnWrapper .bar, .pReturn #markovInformation .bar {
    width: 2px;
    height: 48px;
    border-right: 2px solid #333;
    background-color: #8885ed;
    box-sizing: border-box;
    transform-origin: bottom left;
    display: inline-block; }

svg path {
  stroke: #333333;
  stroke-width: 3px; }
svg circle.outline {
  stroke-width: 1px;
  stroke: #cccccc;
  fill: none; }
